<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header class="header"><%- include('../partials/header'); %></header>

    <nav class="secNav"><%- include('../partials/secNav'); %></nav>

    <%-body%>

    <footer class="footer"><%- include('../partials/footer'); %></footer>

    <script src="/static/jsfrontend/secNav.js" type="module"></script>
    <script src="/static/jsfrontend/hamburgerMenu.js"></script>
  </body>
</html>
